USE [master]
GO
/****** Object:  Database [SQL Tutorial]    Script Date: 6/4/2025 4:43:07 PM ******/
CREATE DATABASE [SQL Tutorial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQL Tutorial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SQL Tutorial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQL Tutorial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SQL Tutorial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQL Tutorial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQL Tutorial]
GO
/****** Object:  Table [dbo].[EmployeeDemographics]    Script Date: 6/4/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDemographics](
	[EmployeeID] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSalary]    Script Date: 6/4/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalary](
	[EmployeeID] [int] NULL,
	[JobTitle] [varchar](50) NULL,
	[Salary] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
